body {
    background-color: #e8e8e8;
}

#main {
    background-color: white;
    /* margin: 5% 20% 30% 20%; */
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.input {
    border-bottom: 1px solid #0030ae;
    color:#0030ae;
}

.input::-webkit-input-placeholder {
    color:#0030ae;
}
.input-error {
    border-bottom: 1px solid red;
}

.input-error::-webkit-input-placeholder {
    color: red;
}

.formview {
    padding: 20px 20px 5% 20px;
}

input {
    border-style: none;
    width: 100%;
}

button {
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    background-color: #0030ae;
    border: 0;
}

button>p {
    margin: auto !important;
    width: 100%;
    height: 100%;
    color: white;
}

p{
    color: #0030ae;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.bot-space {
    margin-bottom: 30px;
}

.bot-space-1 {
    margin-bottom: 40px;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}


/* xs */
@media only screen and (max-width: 991px) {
    .bot-space-justMobile {
        margin-bottom: 30px;
    }
    
}

@media only screen and (max-width: 350px) {
    
    .img-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    
}